<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>person</mat-icon>
      Personas
    </ng-template>
    <app-personas></app-personas>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>work</mat-icon>
      Puestos
    </ng-template>
    <app-puestos></app-puestos>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>people</mat-icon>
      Empleados Puestos
    </ng-template>
    <app-empleados-puestos></app-empleados-puestos>
  </mat-tab>
</mat-tab-group>


