<div>
    <form [formGroup]="puestoForm" (ngSubmit)="saveChanges()" class="form-container">
        <div class="example-container">
            <mat-form-field class="example-form-field">
                <mat-label>ID</mat-label>
                <input matInput [value]="data.puesto.id" disabled>
            </mat-form-field>
            <mat-form-field class="example-form-field">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre">
                <mat-error *ngIf="puestoForm.get('nombre')?.hasError('required')">El nombre es requerido</mat-error>
            </mat-form-field>
        </div>
        <div class="form-row">
            <button mat-button (click)="onCancel()" color="warn">Cancelar</button>
            <button mat-raised-button color="primary" [disabled]="!puestoForm.valid" type="submit"
                (click)="onSave()">Guardar</button>
        </div>
    </form>
</div>
